<div
  class="bg-slate-100 w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white"
>
  <div class="flex flex-row relative w-screen h-screen">
    <!-- Sidebar -->
    <app-sidebar-menu
      id="menu"
      class="bg-gray-900 w-[250px] min-h-screen z-10 text-slate-300 fixed left-0 h-full"
    ></app-sidebar-menu>

    <!-- Contenido Principal -->
    <div
      class="ml-[250px] p-4 flex flex-col flex-1 h-full text-slate-800 overflow-y-scroll"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
